@page
@model MeuMiniMuseu.Pages.paginasMenu.EditModel
@{
}

<h1>Edit</h1>
<hr/>

<div class="row">
    <div class="col-md-6">
    <partial name="PaintingForm" model="@Model.Edit" />
</div>
<div class="col-md-6">
    <partial name="HelpWidget"/>
    </div>
</div>
